<h2>Transportadora <%= @shipping_company.brand_name %></h2>
<div>
  <%= link_to 'Veículos cadastrados', shipping_company_vehicles_path(@shipping_company.id) %>
</div>
<dl>
  <dt><strong>Razão Social:</strong></dt>
  <dd><%= @shipping_company.corporate_name %></dd>
  <dt><strong>CNPJ:</strong></dt>
  <dd><%= @shipping_company.registration_number %></dd>
  <dt><strong>Domínio de Email:</strong></dt>
  <dd><%= @shipping_company.email_domain %></dd>
  <dt><strong>Endereço:</strong></dt>
  <dd><%= @shipping_company.address %></dd>
</dl>

<div>
  <%= link_to 'Editar', edit_shipping_company_path %>
</div>
<div>
  <%= link_to 'Voltar', shipping_companies_path %>
</div>