<h3>Criar Intervalo de Preço por Peso</h3>

  <%= form_with(model: [@shipping_company, @weight_price]) do |f| %>
    <div>
      <%= f.label :initial_weight %>
      <%= f.number_field :initial_weight, step: 0.01 %>
      <%= @weight_price.errors.full_messages_for(:initial_weight)[0] if @weight_price.errors.full_messages_for(:initial_weight).any? %>
    </div>
    <div>
      <%= f.label :final_weight %>
      <%= f.number_field :final_weight, step: 0.01 %>
      <%= @weight_price.errors.full_messages_for(:final_weight)[0] if @weight_price.errors.full_messages_for(:final_weight).any? %>
    </div>
    <div>
      <%= f.label :price %>
      <%= f.number_field :price, step: 0.01 %>
      <%= @weight_price.errors.full_messages_for(:price)[0] if @weight_price.errors.full_messages_for(:price).any? %>
    </div>
    <div>
      <%= f.submit 'Enviar' %>
    </div>
  <% end %>

<%= link_to 'Voltar', shipping_company_weight_prices_path %>