<h3>Tabela de Preços por Volume</h3>
<div>
  <%= link_to 'Cadastrar Intervalos de Volume', new_shipping_company_volume_price_path(@shipping_company.id) %>
</div>

<% if @volume_prices.any? %>
  
    <table style="text-align: center;">
      <tr>
        <th>Volume Inicial</th>
        <th>Volume Final</th>
        <th>Preço por km</th> 
      </tr>
      <% @volume_prices.each do |vp| %>
        <tr>
          <td><%= vp.initial_volume %></td>
          <td><%= vp.final_volume %></td>
          <td><%= vp.price %></td>
        </tr>
      <% end %>
    </table>
<% else %>
  <p>Nenhum preço-volume cadastrado.</p>
<% end %>

<div>
  <%= link_to 'Voltar', shipping_company_path(@shipping_company.id) %>
</div>
