<h2>Veículos Cadastrados</h2>
  <%= link_to 'Cadastrar Novo Veículo', new_shipping_company_vehicle_path(@shipping_company.id) %>
<% if @vehicles.any? %>
  <table>
    <tr>
      <th>Nome do veículo</th>
      <th>Placa</th>
      <th>Capacidade de carga (kg)</th>
    </tr>
    <% @vehicles.each do |v| %>
      <tr style="text-align: center;">
        <td>
          <%= link_to(edit_shipping_company_vehicle_path(@shipping_company.id, v.id)) do %>
            <%= v.make %> <%= v.model %> <%= v.year %>
          <% end %>
        </td>
        <td><%= v.id_plate %></td>
        <td><%= v.load_capacity %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Nenhum veículo cadastrado.</p>
<% end %>

<%= link_to 'Voltar', shipping_company_path(@shipping_company.id) %>