<h2>Resultado do Cálculo de Frete</h2>

<p>Nomes das Transportadoras DT: <%= @dt_sc_names %></p>
<p>Dias Úteis DT: <%= @dt_weekdays %></p>
<hr>
<p>Nomes das Transportadoras VP: <%= @vp_sc_names %></p>
<p>Preço VP: <%= @vp_prices %></p>
<hr>
<p>Nomes das Transportadoras WP: <%= @wp_sc_names %></p>
<p>Preço WP: <%= @wp_prices %></p>
<hr>
<p>Nomes das Transportadoras Interseção: <%= @sc_names %></p>
<hr>
<p>Dias Úteis DT Novo: <%= @dt_inters_weekdays %></p>
<hr>
<p>Preço VP Novo: <%= @vp_inters_prices %></p>
<hr>
<p>Preço WP Novo: <%= @wp_inters_prices %></p>
<hr>
<p>Preço: <%= @prices %></p>
<hr>
<hr>
<hr>
<table style="text-align: center;">
  <tr>
    <th>Transportadora</th>
    <th>Orçamento (R$)</th>
    <th>Prazo de Entrega (dias úteis)</th>
  </tr>
    <% @matrix.each do |row| %>
      <tr>
        <% row.each do |item| %>
          <td><%= item %></td>
        <% end %>
      </tr>
    <% end %>
</table>