<!DOCTYPE html>
<html>
  <head>
    <title>FreightApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <h1>Sistema de Fretes</h1>
      <nav>
        <%= link_to 'Home', root_path %>  |
        <%= link_to 'Transportadoras', shipping_companies_path %>  |
        <% if user_signed_in? && current_user.shipping_company != nil %>
          <%= link_to 'Minha Transportadora', shipping_company_path(current_user.shipping_company_id) %> |
        <% end %>
        <%= link_to 'Ordens de Serviço', orders_path %> |
        <% if user_signed_in? && current_user.shipping_company != nil %>
          <%= link_to 'Minhas Ordens de Serviço', sc_orders_shipping_company_path(current_user.shipping_company_id) %> |
        <% end %>
        <%= link_to 'Rastreamento de Entrega',  tracking_form_shipping_companies_path %> |
        <% if admin_signed_in? %>
          <%= link_to 'Consulta de Preços', budget_form_shipping_companies_path %> |
          <%= current_admin.email %>
          <%= button_to 'Sair', destroy_admin_session_path, method: :delete %>
        <% elsif user_signed_in? %>
          <%= current_user.email %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Fazer Login como Admin', new_admin_session_path %> |
          <%= link_to 'Fazer Login como Usuário', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <div>
        <%= flash[:alert] %>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
